<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <title>Добавить пользователя</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Пользователи</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/add}" href="/add">Добавить</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users}" href="/users">Список</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <form style="margin-top: 20px;">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Имя</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="Имя">
            </div>
        </div>
        <div class="form-group row">
            <label for="age" class="col-sm-2 col-form-label">Возраст</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="age" name="age" placeholder="Возраст">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </form>
    <div class="alert alert-success" role="alert" style="display: none">Вы успешно добавили данные</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    const client = Stomp.over(new SockJS('/gs-guide-websocket'));

    const form = document.querySelector('form');
    const name = document.querySelector('input[name="name"]');
    const age = document.querySelector('input[name="age"]');
    const alert = document.querySelector('.alert');

    form.addEventListener('submit', function (evt) {
        evt.preventDefault();
        client.send("/app/message", {}, JSON.stringify({'name': name.value, 'age': age.value}));
        name.value = '';
        age.value = '';
        alert.setAttribute('style', 'display: block');
        setTimeout(function () {
            alert.setAttribute('style', 'display: none');
        }, 5000);
    });
</script>
</body>
</html>